/* HTML WINDOW SIZE */
html {
    max-width: 800px;
    max-height: 600px;
    margin: 0;
    position: relative;
}

#body {


    background-color: #fffdfd;


}

/* TITLE */
h1 {
    font-size: 100px;
    font-family: fantasy;
    color: rgb(8, 8, 7);
    text-align: left;
    padding: 0px;
    position: relative;
    top: -20px;

}


/* h2 instructions */

#header {
    position: absolute;
    left: 110px;
    top: 500px;
    font: bold;
    font-size: 35px;
    color: darkorchid;
    text-decoration: underline;

}

/* instructions */
ol {
    position: absolute;
    left: 20px;
    top: 570px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: rgb(222, 73, 85);
}

/* PINK BOX */
.boxed {
    position: absolute;
    left: 30px;
    padding: 5px 50px;
    padding-bottom: 50px;
    padding-right: -40px;
    border: 1px solid rgb(244, 29, 233);
    border-width: 5px;
}

/* PROJECT WORD */
#project {
    font-size: 100px;
    font-family: fantasy;
    color: rgb(8, 8, 7);
    text-align: left;
    position: absolute;
    left: 200px;
    top: 225px;
}

/* DATE ANCHOR */
#anchor {
    position: static;
}

/* DATE BUTTON */
#myBtn {
    background-color: #4CAF50;
    border: 5px solid rgb(254, 74, 104);
    position: absolute;
    left: 800px;
    top: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    z-index: 4;
}

/* DATE BLANK <p> */
#demo {
    font-size: 25px;
    color: #051805;
    position: absolute;
    left: 800px;
    top: 150px;
    text-align: left;
    min-width: 33%;

}

/* Bavk to the 90's */



/* KITTY IMG */
#cutie {
    position: absolute;
    padding: 0;
    left: 1250px;
    top: 1000px;
    z-index: 2;
    border: 5px solid #000000;
    padding: 3px;
    margin: 0px;
}

/* GIRL IMG */
#smooosh {
    position: absolute;
    left: 1285px;
    top: 1025px;
    z-index: 1;
}

/* KITTY TEXT */
#cute-text {
    font-size: 40px;
    color: #ea5ae0;
    position: absolute;
    left: 1395px;
    top: 850px;
    background: white;
    background-size: contain;
    border: 5px solid #000000;
    padding: 5px 5px 5px 5px;
    margin: 0px;
}

/* UNICORN IMG */
#uni {

    width: 78px;
    height: 130px;
}


#preddieman {
    position: absolute;
    width: 300px;
    height: 160px;
    left: 770px;
    top: 280px;
    opacity: .5;

}

#dfloor {
    font-size: 40px;
    position: absolute;
    width: 500px;
    height: 372.917px;
    left: 10px;
    top: 950px;
    opacity: 1;
    margin-bottom: 0 auto;

}

#bckgr1 {
    left: 1150px;
    top: 100px;
    position: absolute;
    width: 750px;
    height: 1100px;
    z-index: 0;
}

#backtosign {
    top: 450px;
    left: 500px;
    position: absolute;
    z-index: 2;
}

#newkids1 {
    top: 1150px;
    left: 530px;
    position: absolute;
}

#prince {
    top: 1150px;
    left: 830px;
    width: 220px;
    height: 280px;
    position: absolute;
}


/* div {
    color: rgb(173, 198, 198);
} */

/* api search */
#apisearch {
    font-size: 40px;
    position: absolute;
    text-align: center;
    color: coral;
    left: 1275px;
    top: 30px;
    width: 100%;
    height: 100%;
    margin: o auto;


}

#btnget {}

.movieItem {
    color: rgb(234, 77, 49);
    height: 90px;
    width: 400px;
    text-align: center;

}

#fieldset {
    width: 450px;

}

#result {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    width: 100px;
}


#box {
    background-color: palegreen;
    width: 100px;
    height: 150px;
}

/* #hidden {
    display: none;
    background-color: violet;
    color: white;
} */

#moviebox {
    top: 220px;
    left: 1450px;
    font-size: 26px;
    padding: 4px 4px 2px 2px;
}